<a href="https://colab.research.google.com/github/yashsakhuja/Pandas-vs-Polars-A-Data-Workflow-Showdown/blob/main/Pandas%20vs%20Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# â€ Importing Packages

In [ ]:
#Importing the packages
import polars as pl
import pandas as pd

In [ ]:
print("Pandas: "+pd.__version__)
print("Polars: "+pl.__version__)

Pandas: 2.1.4
Polars: 0.20.2

# ğŸ“– Reading CSVs

In [ ]:
sales_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/sales.csv")

In [ ]:
sales_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/sales.csv")

In [ ]:
##Reading other data- pandas
inv_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/inventory.csv")
prod_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/products.csv")
stores_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/stores.csv")

In [ ]:
##Reading other data- polars
inv_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/inventory.csv")
prod_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/products.csv")
stores_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/stores.csv")

In [ ]:
%%timeit -r10 -n10
#pandas
sales_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/sales.csv")
inv_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/inventory.csv")
prod_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/products.csv")
stores_pd = pd.read_csv("/content/drive/MyDrive/Maven Toys Data/stores.csv")

461 ms Â± 78.2 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#polars
sales_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/sales.csv")
inv_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/inventory.csv")
prod_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/products.csv")
stores_pl = pl.read_csv("/content/drive/MyDrive/Maven Toys Data/stores.csv")

208 ms Â± 56.1 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# ğŸ‘€ Viewing Data

In [ ]:
print(sales_pl)

shape: (829_262, 5)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Sale_ID â”† Date       â”† Store_ID â”† Product_ID â”† Units â”‚
â”‚ ---     â”† ---        â”† ---      â”† ---        â”† ---   â”‚
â”‚ i64     â”† str        â”† i64      â”† i64        â”† i64   â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ 1       â”† 2022-01-01 â”† 24       â”† 4          â”† 1     â”‚
â”‚ 2       â”† 2022-01-01 â”† 28       â”† 1          â”† 1     â”‚
â”‚ 3       â”† 2022-01-01 â”† 6        â”† 8          â”† 1     â”‚
â”‚ 4       â”† 2022-01-01 â”† 48       â”† 7          â”† 1     â”‚
â”‚ â€¦       â”† â€¦          â”† â€¦        â”† â€¦          â”† â€¦     â”‚
â”‚ 829259  â”† 2023-09-30 â”† 16       â”† 35         â”† 1     â”‚
â”‚ 829260  â”† 2023-09-30 â”† 22       â”† 19         â”† 1     â”‚
â”‚ 829261  â”† 2023-09-30 â”† 13       â”† 2          â”† 2     â”‚
â”‚ 829262  â”† 2023-09-30 â”† 32       â”† 6          â”† 1     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
print(sales_pd)

        Sale_ID        Date  Store_ID  Product_ID  Units
0             1  2022-01-01        24           4      1
1             2  2022-01-01        28           1      1
2             3  2022-01-01         6           8      1
3             4  2022-01-01        48           7      1
4             5  2022-01-01        44          18      1
...         ...         ...       ...         ...    ...
829257   829258  2023-09-30        24          19      1
829258   829259  2023-09-30        16          35      1
829259   829260  2023-09-30        22          19      1
829260   829261  2023-09-30        13           2      2
829261   829262  2023-09-30        32           6      1

[829262 rows x 5 columns]

# ğŸ¤ Joining Data

In [ ]:
final_pd = sales_pd.merge(prod_pd, on='Product_ID', how='left')\
                   .merge(stores_pd, on='Store_ID', how='left')\
                   .merge(inv_pd, on=['Store_ID', 'Product_ID'], how='left')

In [ ]:
final_pd.shape

(829262, 14)

In [ ]:
final_pl = sales_pl.join(prod_pl, on='Product_ID', how='left') \
                   .join(stores_pl, on='Store_ID', how='left') \
                   .join(inv_pl, on=['Store_ID', 'Product_ID'], how='left')

In [ ]:
final_pd.shape

(829262, 14)

In [ ]:
%%timeit -r10 -n10
final_pd = sales_pd.merge(prod_pd, on='Product_ID', how='left')\
                   .merge(stores_pd, on='Store_ID', how='left')\
                   .merge(inv_pd, on=['Store_ID', 'Product_ID'], how='left')

684 ms Â± 50.4 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
final_pl = sales_pl.join(prod_pl, on='Product_ID', how='left') \
                   .join(stores_pl, on='Store_ID', how='left') \
                   .join(inv_pl, on=['Store_ID', 'Product_ID'], how='left')

290 ms Â± 48.7 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
final_pl.head()

shape: (5, 14)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Sale_ID â”† Date       â”† Store_ID â”† Product_ID â”† â€¦ â”† Store_Cit â”† Store_Loc â”† Store_Ope â”† Stock_On_ â”‚
â”‚ ---     â”† ---        â”† ---      â”† ---        â”†   â”† y         â”† ation     â”† n_Date    â”† Hand      â”‚
â”‚ i64     â”† str        â”† i64      â”† i64        â”†   â”† ---       â”† ---       â”† ---       â”† ---       â”‚
â”‚         â”†            â”†          â”†            â”†   â”† str       â”† str       â”† str       â”† i64       â”‚
â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1       â”† 2022-01-01 â”† 24       â”† 4          â”† â€¦ â”† Aguascali â”† Downtown  â”† 2010-07-3 â”† 1         â”‚
â”‚         â”†            â”†          â”†            â”†   â”† entes     â”†           â”† 1         â”†           â”‚
â”‚ 2       â”† 2022-01-01 â”† 28       â”† 1          â”† â€¦ â”† Puebla    â”† Downtown  â”† 2011-04-0 â”† 6         â”‚
â”‚         â”†            â”†          â”†            â”†   â”†           â”†           â”† 1         â”†           â”‚
â”‚ 3       â”† 2022-01-01 â”† 6        â”† 8          â”† â€¦ â”† Mexicali  â”† Commercia â”† 2003-12-1 â”† 50        â”‚
â”‚         â”†            â”†          â”†            â”†   â”†           â”† l         â”† 3         â”†           â”‚
â”‚ 4       â”† 2022-01-01 â”† 48       â”† 7          â”† â€¦ â”† Saltillo  â”† Commercia â”† 2016-03-2 â”† 28        â”‚
â”‚         â”†            â”†          â”†            â”†   â”†           â”† l         â”† 3         â”†           â”‚
â”‚ 5       â”† 2022-01-01 â”† 44       â”† 18         â”† â€¦ â”† Puebla    â”† Residenti â”† 2014-12-2 â”† 117       â”‚
â”‚         â”†            â”†          â”†            â”†   â”†           â”† al        â”† 7         â”†           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

# âœğŸ¼ Writing Data

In [ ]:
%%timeit -r10 -n10
#pandas
final_pd.to_csv('output_file_pd.csv', index=False)

5.97 s Â± 142 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#polars
final_pl.write_csv('output_file.csv')

1.52 s Â± 50.3 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# ğŸ‘‰ Selecting Data Columns
Selecting 10 out of 14 columns

In [ ]:
%%timeit -r 10 -n 10
#pandas
pd_df_selected = final_pd[['Sale_ID', 'Date','Store_City','Store_Location','Store_Name', 'Product_Category', 'Product_Name', 'Product_Cost','Product_Price','Units']]

49.9 ms Â± 1.43 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r 10 -n 10
#pandas
pl_df_selected = final_pl[['Sale_ID', 'Date','Store_City','Store_Location','Store_Name', 'Product_Category', 'Product_Name', 'Product_Cost','Product_Price','Units']]

13.8 Âµs Â± 5.2 Âµs per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
#pandas
pd_df_selected = final_pd[['Sale_ID', 'Date','Store_City','Store_Location','Store_Name', 'Product_Category', 'Product_Name', 'Product_Cost','Product_Price','Units']]

#polars
pl_df_selected = final_pl[['Sale_ID', 'Date','Store_City','Store_Location','Store_Name', 'Product_Category', 'Product_Name', 'Product_Cost','Product_Price','Units']]

# â– Filtering Data


*   filtering 90,725 rows out of 829,262 rows (11% rows)
*   Filtering sales from Store City= "Cuidad de Mexico"

In [ ]:
#Filtering the rows from Store City= "Cuidad de Mexico"
#pandas
filter_pd_df = pd_df_selected[pd_df_selected['Store_City']=='Cuidad de Mexico']

#polars
filter_pl_df = pl_df_selected.filter(pl.col('Store_City') == "Cuidad de Mexico")

In [ ]:
%%timeit -r10 -n10
#Filtering the rows from Store City= "Cuidad de Mexico"
#pandas
filter_pd_df = pd_df_selected[pd_df_selected['Store_City']=='Cuidad de Mexico']

80.1 ms Â± 19.5 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#Filtering the rows from Store City= "Cuidad de Mexico"
#polars
filter_pl_df = pl_df_selected.filter(pl.col('Store_City') == "Cuidad de Mexico")

41.9 ms Â± 1.66 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# ğŸ˜ï¸ Grouping and Aggregation
Total Distinct orders grouped by 5 Product Categories

In [ ]:
group_pd_df=pd_df_selected.groupby('Product_Category')['Sale_ID'].nunique().reset_index(name='Total Transactions')
group_pd_df

    Product_Category  Total Transactions
0       Art & Crafts              220673
1        Electronics               99025
2              Games              157006
3  Sports & Outdoors              131331
4               Toys              221227

In [ ]:
group_pl_df=pl_df_selected.group_by('Product_Category').agg(pl.col('Sale_ID').n_unique().alias('Total Transactions'))
group_pl_df

shape: (5, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Product_Category  â”† Total Transactions â”‚
â”‚ ---               â”† ---                â”‚
â”‚ str               â”† u32                â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Games             â”† 157006             â”‚
â”‚ Art & Crafts      â”† 220673             â”‚
â”‚ Sports & Outdoors â”† 131331             â”‚
â”‚ Electronics       â”† 99025              â”‚
â”‚ Toys              â”† 221227             â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
%%timeit -r10 -n10
#pandas
group_pd_df=pd_df_selected.groupby('Product_Category')['Sale_ID'].nunique().reset_index(name='Total Transactions')
group_pd_df

170 ms Â± 33.3 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#polars
group_pl_df=pl_df_selected.group_by('Product_Category').agg(pl.col('Sale_ID').n_unique().alias('Total Transactions'))
group_pl_df

46.2 ms Â± 1.06 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# ğŸ”¤ Changing Data Types

In [ ]:
#Removing Dollar Sign
final_pd['Product_Price'] = final_pd['Product_Price'].replace('[\$,]', ' ', regex=True)

final_pl = (final_pl.with_columns(pl.col('Product_Price').str.replace_all(r'\$', ' ').str.strip()))

<ipython-input-194-18c0fb53d21e>:4: DeprecationWarning: `strip` is deprecated. It has been renamed to `strip_chars`.
  final_pl = (final_pl.with_columns(pl.col('Product_Price').str.replace_all(r'\$', ' ').str.strip()))

In [ ]:
#Changing the data type from object to float- pandas
final_pd['Product_Price'] = final_pd['Product_Price'].astype(float)

In [ ]:
#Changing the data type from object to float- polars
final_pl = final_pl.with_columns(pl.col('Product_Price').cast(pl.Float64))

In [ ]:
%%timeit -r10 -n10
#pandas
final_pd['Product_Price'].astype(float)

1.48 ms Â± 124 Âµs per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#polars
final_pl.with_columns(pl.col('Product_Price').cast(pl.Float64))

46.1 Âµs Â± 12.7 Âµs per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# â¬‡ï¸ Sorting Data
Sorting in Descending Order by Prices

In [ ]:
#pandas
sorted_pd_df = final_pd.sort_values(by='Product_Price', ascending=False)

#polars
sorted_pl_df = final_pl.sort("Product_Price", descending=True)

In [ ]:
%%timeit -r10 -n10
#pandas
final_pd.sort_values(by='Product_Price', ascending=True)

317 ms Â± 53.9 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
%%timeit -r10 -n10
#polars
final_pl.sort("Product_Price", descending=False)

388 ms Â± 57.1 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

# ğŸ»â€â„ï¸ Eager vs Lazy API

## Eager API with read_csv

In [ ]:
%%timeit -r10 -n10
# Read the CSV file into a pandas DataFrame
df = pd.read_csv("output_file_pl.csv")

# Filter the DataFrame
filtered_df = df[df['Store_City'] == "Cuidad de Mexico"]

# Group by 'Product_Category' and count 'Sale_ID's
grouped_df = (filtered_df
               .groupby('Product_Category')
               .agg(Total_Transactions=('Sale_ID', 'count'))
               .reset_index())

# Sort by the count of transactions in descending order
sorted_df = grouped_df.sort_values(by='Total_Transactions', ascending=False)

1.99 s Â± 52.5 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
# Using read_csv (eager API)
eager_pl_df = (
    pl.read_csv("output_file_pl.csv")
    .filter(pl.col('Store_City') == "Cuidad de Mexico")
    .group_by('Product_Category')
    .agg(pl.col('Sale_ID').count().alias("Total Transactions"))
    .sort("Total Transactions", descending=True)
)

In [ ]:
%%timeit -r10 -n10
# Using read_csv (eager API)
eager_pl_df = (
    pl.read_csv("output_file_pl.csv")
    .filter(pl.col('Store_City') == "Cuidad de Mexico")
    .group_by('Product_Category')
    .agg(pl.col('Sale_ID').count().alias("Total Transactions"))
    .sort("Total Transactions", descending=True)
)

830 ms Â± 108 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
eager_pl_df

shape: (5, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Product_Category  â”† Total Transactions â”‚
â”‚ ---               â”† ---                â”‚
â”‚ str               â”† u32                â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Toys              â”† 24556              â”‚
â”‚ Art & Crafts      â”† 22560              â”‚
â”‚ Games             â”† 18116              â”‚
â”‚ Sports & Outdoors â”† 15458              â”‚
â”‚ Electronics       â”† 10035              â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## Lazy API with scan_csv

In [ ]:
# Using scan_csv (lazy API)
lazy_pl_df = (
    pl.scan_csv("output_file_pl.csv")
    .filter(pl.col('Store_City') == "Cuidad de Mexico")
    .group_by('Product_Category')
    .agg(pl.col('Sale_ID').count().alias("Total Transactions"))
    .sort("Total Transactions", descending=True)
    .collect()
)

In [ ]:
lazy_pl_df

shape: (5, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Product_Category  â”† Total Transactions â”‚
â”‚ ---               â”† ---                â”‚
â”‚ str               â”† u32                â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Toys              â”† 24556              â”‚
â”‚ Art & Crafts      â”† 22560              â”‚
â”‚ Games             â”† 18116              â”‚
â”‚ Sports & Outdoors â”† 15458              â”‚
â”‚ Electronics       â”† 10035              â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
%%timeit -r10 -n10
# Using scan_csv (lazy API)
lazy_pl_df = (
    pl.scan_csv("output_file_pl.csv")
    .filter(pl.col('Store_City') == "Cuidad de Mexico")
    .group_by('Product_Category')
    .agg(pl.col('Sale_ID').count().alias("Total Transactions"))
    .sort("Total Transactions", descending=True)
    .collect()
)

236 ms Â± 62.3 ms per loop (mean Â± std. dev. of 10 runs, 10 loops each)

In [ ]:
plan = (
    pl.scan_csv("output_file_pl.csv")
    .filter(pl.col('Store_City') == "Cuidad de Mexico")
    .group_by('Product_Category')
    .agg(pl.col('Sale_ID').count().alias("Total Transactions"))
    .sort("Total Transactions", descending=True)
)

plan.show_graph(optimized=False)

# Comparison